<!DOCTYPE html>
<html>
<head>
  <title>Arrange</title>
  <%= stylesheet_link_tag    "arrange/application", media: "all" %>
  <%= javascript_include_tag "arrange/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
